:root {
    --color-navy: #345f88;
    --color-navy-highlight: #5283a9;
    --color-navy-bg: #345f88;
    --color-orange: #f0b810;
    --color-mauve: #560030;
    --color-light-fg: #f3f3f3;
    --color-dark-fg: #333;
    --color-gray-fg: #666;
    --color-gray-bg: #dadbdd;
    --color-light-bg: rgba(255, 255, 255, 0.6);
    --color-light-blue-bg: rgba(242, 250, 255, 0.7);
    --color-light-yellow-bg: rgba(255, 248, 224, 0.7);
    --color-border: rgba(0, 0, 0, 0.125);
    --color-table-highlight-bg: #ffc;
    --color-table-highlight-outline: #ec0;

    --section-padding: 1rem;
    --header-height: 49px;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: "Helvetica Neue", sans-serif;
    color: #333;
    background-color: var(--color-gray-bg);
    background-image: url(/static/img/background-gray-wave.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: bottom;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: var(--color-navy);
    font-weight: 500;

    &:visited {
        color: var(--color-navy);
    }

    &:hover {
        text-decoration: underline;
    }
}

button {
    cursor: pointer;
}

section {
    border: solid 1px var(--color-border);
    padding: var(--section-padding);
    margin: 2rem 0;
    background: var(--color-light-bg);
}

#g-header {
    position: fixed;
    width: 100%;
    min-height: var(--header-height);
    margin: 0;
    background: url(/static/img/header-bg.jpg) var(--color-navy);
    background-repeat: repeat-x;
    background-size: auto 100%;
    color: var(--color-light-fg);
    border-bottom: solid 1px var(--color-border);
    z-index: 1;

    a {
        color: inherit;
    }
    
    a.logo {
        position: absolute;
        top: 0;
        left: 0;

        img {
            height: var(--header-height);
            width: auto;
        }
    }

    .player-menu {
        position: absolute;
        top: 0;
        right: var(--section-padding);
        line-height: var(--header-height);
        display: flex;
        flex-flow: row nowrap;

        > * {
            margin: 0 0.5rem;
        }
    }
}

body > main {
    width: 950px;
    flex-grow: 1;
    margin: 4rem auto 15rem auto;
}

#g-hero {
    background: url(/static/img/banner-2.jpg);
    background-size: cover;
    width: 950px;
    height: 406px;
    display: block;
    margin: 0 auto;
}

#g-rules {
    width: 100%;
    padding: 10px 20px;
    background: var(--color-navy-bg);
    color: var(--color-light-fg);
    margin: 0 auto;

    a {
        color: var(--color-orange);
    }
}

#g-footer {
    width: 100%;
    margin: 0;
    padding: 10px;
    background: #662045;
    border-top: solid 1px #33002a;
    color: #ccc;

    > ul {
        list-style: none;
        margin: 0;
        padding: 0;
        
        > li {
            display: inline-block;
            margin-right: 10px;
        }

        a {
            color: inherit;
        }
    }
}

.g-player-listing {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    vertical-align: middle;

    .name {
        flex: 0 1 auto;
        margin: 0 0.125em 0 0.25em;
        max-width: 7em;
        line-height: 1.5rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .cup {
        flex: none;
        line-height: 1.5rem;
    }

    .img-wrapper {
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        align-self: center;
        border-radius: 0.75rem;
        overflow: hidden;
        position: relative;
        flex: none;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: 0.75rem;
            border: 1px solid rgba(0, 0, 0, 0.25);
        }

        img {
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }
}
