:root {
    --color-navy: #345F88;
    --color-mauve: #560030;
    --color-light-fg: #eee;
    --color-dark-fg: #333;
    --color-gray-bg: #f2f2f2;
    --color-border: rgba(0, 0, 0, 0.125);
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: "Helvetica Neue", sans-serif;
    color: #333;
    background: var(--color-gray-bg);
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #345F88;
    font-weight: 500;

    &:visited {
        color: #345F88;
    }

    &:hover {
        text-decoration: underline;
    }
}

#g-header {
    width: 100%;
    margin: 0;
    padding: 10px;
    background: var(--color-gray-bg);
    border-bottom: solid 1px var(--color-border);
    z-index: 1;
    
    h1 {
        font-size: 18px;
        margin: 0;
        padding: 0;
        a {
            text-decoration: none;
            color: inherit;
        }
    }

    .player-menu {
        float: right;
    }
}

body > main {
    width: 970px;
    flex-grow: 1;
    margin: 0 auto;
    padding: 10px;
    background: white;
    border-left: solid 1px var(--color-border);
    border-right: solid 1px var(--color-border);
}

#g-hero {
    background: url(/static/img/banner-1.jpg);
    width: 950px;
    height: 406px;
    display: block;
    margin: 0 auto;
}

#g-rules {
    width: 100%;
    padding: 10px 20px;
    background: var(--color-mauve);
    color: var(--color-light-fg);
    margin: 0 auto;
}

#g-footer {
    width: 100%;
    margin: 0;
    padding: 10px;
    background: #662045;
    border-top: solid 1px #33002a;
    color: #ccc;

    > ul {
        list-style: none;
        margin: 0;
        padding: 0;
        
        > li {
            display: inline-block;
            margin-right: 10px;
        }

        a {
            color: inherit;
        }
    }
}
