:root {
    --color-navy: #345f88;
    --color-navy-highlight: #5283a9;
    --color-orange: #f0b810;
    --color-mauve: #560030;
    --color-light-fg: #f3f3f3;
    --color-dark-fg: #333;
    --color-gray-fg: #666;
    --color-gray-bg: #f2f2f2;
    --color-light-bg: white;
    --color-border: rgba(0, 0, 0, 0.125);
    --color-table-highlight-bg: #ffc;
    --color-table-highlight-outline: #ec0;

    --section-padding: 1rem;
    --header-height: 49px;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: "Helvetica Neue", sans-serif;
    color: #333;
    background: var(--color-gray-bg);
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: var(--color-navy);
    font-weight: 500;

    &:visited {
        color: var(--color-navy);
    }

    &:hover {
        text-decoration: underline;
    }
}

button {
    cursor: pointer;
}

section {
    border: solid 1px var(--color-border);
    padding: var(--section-padding);
    background: var(--color-light-bg);
}

#g-header {
    position: relative;
    width: 100%;
    min-height: var(--header-height);
    margin: 0;
    background: url(/static/img/banner-bg.png) var(--color-navy);
    background-size: contain;
    color: var(--color-light-fg);
    border-bottom: solid 1px var(--color-border);
    z-index: 1;

    a {
        color: inherit;
    }
    
    a.logo {
        position: absolute;
        top: 0;
        left: 0;

        img {
            height: var(--header-height);
            width: auto;
        }
    }

    .player-menu {
        position: absolute;
        top: 0;
        right: var(--section-padding);
        line-height: var(--header-height);
    }
}

body > main {
    width: 950px;
    flex-grow: 1;
    margin: 0 auto;
}

#g-hero {
    background: url(/static/img/banner-1.jpg);
    width: 950px;
    height: 406px;
    display: block;
    margin: 0 auto;
}

#g-rules {
    width: 100%;
    padding: 10px 20px;
    background: var(--color-navy);
    color: var(--color-light-fg);
    margin: 0 auto;

    a {
        color: var(--color-orange);
    }
}

#g-footer {
    width: 100%;
    margin: 0;
    padding: 10px;
    background: #662045;
    border-top: solid 1px #33002a;
    color: #ccc;

    > ul {
        list-style: none;
        margin: 0;
        padding: 0;
        
        > li {
            display: inline-block;
            margin-right: 10px;
        }

        a {
            color: inherit;
        }
    }
}

.g-player-listing {
    white-space: nowrap;

    .img-wrapper {
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        vertical-align: middle;
        border-radius: 0.75rem;
        overflow: hidden;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: 0.75rem;
            border: 1px solid rgba(0, 0, 0, 0.25);
        }
        
        img {
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }
}
