#p-basho {
    #leaderboard {
        background: var(--color-light-blue-bg);

        table {
            border-collapse: collapse;
            margin: 0 auto;
            font-size: 0.875rem;

            tr.self {
                background: var(--color-table-highlight-bg);
                outline: solid 2px var(--color-table-highlight-outline);
            }

            th {
                font-weight: bold;
                color: var(--color-gray-fg);
                text-align: center;
            }

            th, td {
                min-width: 1rem;
            }

            td.rank, th.rank {
                text-align: right;
            }
            td.rank {
                padding-right: 0.25rem;
            }

            td.name {
                padding-top: 3px; /* adjust baseline alignment of name cell with others */
            }

            td.pick {
                padding: 0 0.125rem;
                max-width: 5rem;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            td.score {
                text-align: right;
            }
        }
    }
    
    #banzuke {
        background: var(--color-light-yellow-bg);

        .save-picks-button,
        .change-picks-button {
            font-size: 1.5rem;
            background: var(--color-navy);
            color: var(--color-light-fg);
            border: solid 2px var(--color-border);
            border-radius: 5px;
            margin: 1rem auto;

            &:active {
                background: var(--color-navy-highlight);
            }
        }

        .save-picks-button {
            display: none;
        }
        .change-picks-button {
            display: block;
        }

        &.selectable {
            table .select-radio {
                display: inline-block;
            }

            .change-picks-button {
                display: none;
            }
            .save-picks-button {
                display: block;
            }
        }

        &.has-started {
            .change-picks-button,
            .save-picks-button {
                display: none;
            }
        }

        table {
            border-collapse: collapse;
            line-height: 2;
            margin: 0 auto;

            .rank {
                text-align: center;
            }

            td {
                &.rikishi {
                    font-weight: bold;
                    font-size: 1.25rem;
                }

                &.pick-count {
                    text-align: right;
                    padding-right: 0.5rem;
                }

                &.hoshi {
                    font-size: 0.75rem;
                    font-family: monospace;
                    width: 2ch;
                    text-align: center;
                }

                label {
                    display: block;
                    padding: 0 5px;
                }
            }

            .select-radio {
                vertical-align: middle;
                margin-right: 5px;
                display: none;
            }

            .is-player-pick {
                background: var(--color-table-highlight-bg);
                outline: 2px solid var(--color-table-highlight-outline);
            }

            .rank-group-1 {
                background: hsl(230, 80%, 75%);
                
                + .rank-group-2 {
                    border-top: solid 5px white;
                }
            }
            .rank-group-2 {
                background: hsl(200, 80%, 75%);

                + .rank-group-3 {
                    border-top: solid 5px white;
                }
            }
            .rank-group-3 {
                background: hsl(170, 70%, 65%);

                + .rank-group-4 {
                    border-top: solid 5px white;
                }
            }
            .rank-group-4 {
                background: hsl(140, 70%, 70%);

                + .rank-group-5 {
                    border-top: solid 5px white;
                }
            }
            .rank-group-5 {
                background: hsl(110, 60%, 70%);
            }
        }
    }
}
