@charset "utf-8";
@use 'media';

#p-basho {
    h1 {
        margin: var(--section-padding);
        text-align: center;
        color: black;
        font-size: 2.5rem;
        text-shadow: 0 4px 10px rgba(0, 0, 0, 0.35);
    }

    #leaderboard {
        background: var(--color-light-yellow-bg);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        overflow: scroll;

        table {
            border-collapse: collapse;
            margin: 0 auto;
            font-size: 0.875rem;

            tr.self {
                background: var(--color-table-highlight-bg);
                outline: solid 2px var(--color-table-highlight-outline);
            }
            tr.min-max {
                color: var(--color-gray-fg);
                font-weight: 300;
            }

            th {
                font-weight: bold;
                color: var(--color-gray-fg);
                text-align: center;
            }

            th, td {
                min-width: 1rem;
                @media (max-width: media.$narrow) {
                    min-width: 0.75rem;
                }
            }

            td.rank, th.rank {
                text-align: right;
                padding-right: 0.25rem;
            }

            td.name {
                padding-top: 3px; /* adjust baseline alignment of name cell with others */
            }

            td.min-max-name {
                font-style: italic;
                padding: 0.75rem 0;
            }

            td.pick {
                padding: 0 0.125rem;
                &.kyujyo {
                    text-decoration: line-through;
                    color: var(--color-gray-fg);
                }
            }

            td.score,
            th.day {
                text-align: right;
            }

            td.total {
                font-weight: bold;
            }

            @media (max-width: media.$narrow) {
                .day {
                    font-size: 0.75rem;
                }
            }
        }

        /* hide picks on mobile after basho starts, to make room for day results */
        &.has-started table {
            td.pick {
                max-width: 5rem;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            
            @media (max-width: media.$narrow) {
                 .pick {
                    display: none;
                }
            }
        }
    }

    #banzuke {
        background-color: #c0a688;
        background-image: url(/static/img2/banzuke/Wood-BG.jpg);
        background-size: 100% 100%;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        border-radius: 2rem;
        @media (max-width: media.$narrow) {
            border-radius: 0;
        }
        @media (max-width: media.$medium-width) {
            overflow: hidden;
        }

        text-shadow: var(--emboss-text-shadow);

        h2 {
            > img {
                height: 2.5em;
                width: auto;

                @media (max-width: media.$narrow) {
                    height: 1.5em;
                    max-width: 100%;
                }
            }

            @media (max-width: media.$narrow) {
                margin-top: 0.5em;
                margin-bottom: 0;
            }
        }

        .gunbai {
            position: absolute;
            top: 1rem;
            right: 10%;
            width: 20%;
            height: auto;

            @media (max-width: media.$narrow) {
                display: none;
            }
        }

        .rope {
            margin: 0 calc(-4 * var(--section-padding));
            width: calc(100% + 8 * var(--section-padding));
            height: auto;
            pointer-events: none;
        }

        .rules {
            font-size: larger;
            font-weight: bold;
            list-style: none;
            padding: 0;
            margin: 0;

            @media (max-width: media.$narrow) {
                font-size: inherit;
            }

            > li {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
            }
            > li::before {
                content: " ";
                display: block;
                flex-shrink: 0;
                background-size: 100% 100%;
                margin-right: 1em;
                @media (max-width: media.$narrow) {
                    margin-right: 0.5em;
                }
            }
            > li:nth-child(1)::before {
                background-image: url(/static/img2/banzuke/Number-1.png);
                width: 40px;
                height: 58px;
                margin-left: 12px;
                @media (max-width: media.$narrow) {
                    width: 30px;
                    height: 43.5px;
                    margin-left: 9px;
                }
            }
            > li:nth-child(2)::before {
                background-image: url(/static/img2/banzuke/Number-2.png);
                width: 46px;
                height: 59px;
                margin-left: 6px;
                @media (max-width: media.$narrow) {
                    width: 34.5px;
                    height: 44.25px;
                    margin-left: 6.75px;
                }
            }
            > li:nth-child(3)::before {
                background-image: url(/static/img2/banzuke/Number-3.png);
                width: 52px;
                height: 61px;
                @media (max-width: media.$narrow) {
                    width: 39px;
                    height: 45.75px;
                }
            }
        }

        .save-picks-button,
        .change-picks-button {
            margin: 1rem auto;
        }

        .save-picks-button {
            display: none;
        }
        .change-picks-button {
            display: block;
        }

        &.selectable {
            table .select-radio {
                display: inline-block;
            }

            .change-picks-button {
                display: none;
            }
            .save-picks-button {
                display: block;
            }
        }

        &.has-started {
            .change-picks-button,
            .save-picks-button {
                display: none;
            }
        }

        // > form {
        //     margin: 0 -100px;
        // }

        table {
            border-collapse: separate;
            border-spacing: 0;
            line-height: 2;
            margin: 0 auto;
            --group-boundary-color: transparent;
            --group-boundary-thickness: 10px;

            tr {
                background-clip: padding-box;
            }

            .rank {
                text-align: center;
            }

            .win-loss {
                padding: 0 0.5rem;
                text-align: right;
                white-space: nowrap;
            }

            td {
                &.rikishi {
                    font-weight: bold;
                    white-space: nowrap;
                    @media (min-width: media.$wide) {
                        font-size: 1.25rem;
                    }
                }

                &.pick-count {
                    text-align: right;
                    padding-right: 0.5rem;
                }

                &.hoshi {
                    line-height: 0.6rem;
                    text-align: left;

                    > .chunk {
                        white-space: nowrap;

                        > span {
                            display: inline-block;
                            width: 0.6rem;
                            height: 0.6rem;
                            background-size: 100% 100%;
                        }
                        > .win {
                            background-image: url(/static/img/hoshi-white.png);
                        }
                        > .loss {
                            background-image: url(/static/img/hoshi-black.png);
                        }
                        > .blank {
                            background-image: url(/static/img/hoshi-dash.png);
                        }
                    }
                }

                label {
                    display: inline-block;
                    padding: 0 0.25rem;
                }
                &.is-kyujyo label {
                    text-decoration: line-through;
                    color: var(--color-gray-fg);
                    &::before {
                        display: inline-block;
                        content: "㊡";
                        text-decoration: none;
                        color: var(--color-orange);
                        text-shadow: 0 1px 3px #0004;
                    }
                }

                .info-link {
                    font-size: 0.75rem;
                    vertical-align: middle;
                    &::before {
                        content: "ℹ️";
                    }
                    @media (hover: hover) {
                        opacity: 0;
                        transition: opacity 100ms ease-out;
                    }
                    @media (max-width: media.$narrow) {
                        display: none;
                    }

                }
                &:hover .info-link {
                    opacity: 1;
                }

                &.is-player-pick {
                    position: relative;
                    background: var(--color-table-highlight-bg);
                    background-clip: padding-box;

                    // put outline around the content area only:
                    &::before {
                        content: " ";
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        z-index: 1;
                        pointer-events: none;
                        box-shadow: var(--table-highlight-shadow);
                    }
                }
            }

            @media (max-width: media.$narrow) {
                .hoshi,
                .pick-count {
                    display: none;
                }
            }

            .select-radio {
                vertical-align: middle;
                margin-right: 0.25rem;
                display: none;
            }

            .rank-group-1 {
                background-color: hsla(26, 79%, 62%, 0.5);
                
                + .rank-group-2 > td {
                    border-top: solid var(--group-boundary-thickness) var(--group-boundary-color);
                }
            }
            .rank-group-2 {
                background-color: hsla(32, 88%, 68%, 0.5);

                + .rank-group-3 > td {
                    border-top: solid var(--group-boundary-thickness) var(--group-boundary-color);
                }
            }
            .rank-group-3 {
                background-color: hsla(39, 85%, 72%, 0.5);

                + .rank-group-4 > td {
                    border-top: solid var(--group-boundary-thickness) var(--group-boundary-color);
                }
            }
            .rank-group-4 {
                background-color: hsla(43, 78.5%, 80%, 0.5);

                + .rank-group-5 > td {
                    border-top: solid var(--group-boundary-thickness) var(--group-boundary-color);
                }
            }
            .rank-group-5 {
                background-color: hsla(50, 73%, 88%, 0.5);
            }
        }
    }
}
