@charset "utf-8";
@use 'media';

#p-basho {
    h1 {
        margin: var(--section-padding);
    }

    #leaderboard {
        background: var(--color-light-blue-bg);

        table {
            border-collapse: collapse;
            margin: 0 auto;
            font-size: 0.875rem;

            tr.self {
                background: var(--color-table-highlight-bg);
                outline: solid 2px var(--color-table-highlight-outline);
            }
            tr.min-max {
                color: var(--color-gray-fg);
                font-weight: 300;
            }

            th {
                font-weight: bold;
                color: var(--color-gray-fg);
                text-align: center;
            }

            th, td {
                min-width: 1rem;
                @media (max-width: media.$narrow) {
                    min-width: 0.75rem;
                }
            }

            td.rank, th.rank {
                text-align: right;
                padding-right: 0.25rem;
            }

            td.name {
                padding-top: 3px; /* adjust baseline alignment of name cell with others */
            }

            td.min-max-name {
                font-style: italic;
                padding: 0.75rem 0;
            }

            td.pick {
                padding: 0 0.125rem;
            }

            td.score,
            th.day {
                text-align: right;
            }

            td.total {
                font-weight: bold;
            }

            @media (max-width: media.$narrow) {
                .day {
                    font-size: 0.75rem;
                }
            }
        }

        /* hide picks on mobile after basho starts, to make room for day results */
        &.has-started table {
            td.pick {
                max-width: 5rem;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            
            @media (max-width: media.$narrow) {
                 .pick {
                    display: none;
                }
            }
        }
    }
    
    #banzuke {
        background: var(--color-light-yellow-bg);

        .save-picks-button,
        .change-picks-button {
            margin: 1rem auto;
        }

        .save-picks-button {
            display: none;
        }
        .change-picks-button {
            display: block;
        }

        &.selectable {
            table .select-radio {
                display: inline-block;
            }

            .change-picks-button {
                display: none;
            }
            .save-picks-button {
                display: block;
            }
        }

        &.has-started {
            .change-picks-button,
            .save-picks-button {
                display: none;
            }
        }

        table {
            border-collapse: collapse;
            line-height: 2;
            margin: 0 auto;

            .rank {
                text-align: center;
            }

            .win-loss {
                padding: 0 0.5rem;
                text-align: right;
                white-space: nowrap;
            }

            td {
                &.rikishi {
                    font-weight: bold;
                    @media (min-width: media.$wide) {
                        font-size: 1.25rem;
                    }
                }

                &.pick-count {
                    text-align: right;
                    padding-right: 0.5rem;
                }

                &.hoshi {
                    font-size: 0.5rem;
                    font-family: monospace;
                    width: 2ch;
                    text-align: center;
                }

                label {
                    display: inline-block;
                    padding: 0 0.25rem;
                }
                &.is-kyujyo label {
                    text-decoration: line-through;
                    color: var(--color-gray-fg);
                    &::before {
                        display: inline-block;
                        content: "㊡";
                        text-decoration: none;
                        color: var(--color-orange);
                    }
                }

                .info-link {
                    font-size: 0.75rem;
                    vertical-align: middle;
                    &::before {
                        content: "ℹ️";
                    }
                    @media (hover: hover) {
                        opacity: 0;
                        transition: opacity 100ms ease-out;
                    }
                }
                &:hover .info-link {
                    opacity: 1;
                }
            }

            @media (max-width: media.$narrow) {
                .hoshi,
                .pick-count {
                    display: none;
                }
            }

            .select-radio {
                vertical-align: middle;
                margin-right: 0.25rem;
                display: none;
            }

            .is-player-pick {
                background: var(--color-table-highlight-bg);
                outline: 2px solid var(--color-table-highlight-outline);
            }

            .rank-group-1 {
                background: hsl(230, 80%, 75%);
                
                + .rank-group-2 {
                    border-top: solid 5px white;
                }
            }
            .rank-group-2 {
                background: hsl(200, 80%, 75%);

                + .rank-group-3 {
                    border-top: solid 5px white;
                }
            }
            .rank-group-3 {
                background: hsl(170, 70%, 65%);

                + .rank-group-4 {
                    border-top: solid 5px white;
                }
            }
            .rank-group-4 {
                background: hsl(140, 70%, 70%);

                + .rank-group-5 {
                    border-top: solid 5px white;
                }
            }
            .rank-group-5 {
                background: hsl(110, 60%, 70%);
            }
        }
    }
}
