#p-basho {
    #leaderboard {
        background: #e8faff;
    }
    
    #banzuke {
        background: #fff8e8;

        table {
            border-spacing: 0;
            line-height: 2;

            .rank {
                text-align: center;
            }

            td {
                &.rikishi {
                    font-weight: bold;
                }

                label {
                    display: block;
                    padding: 0 5px;
                }
            }

            .select-radio {
                vertical-align: middle;
                margin-right: 5px;
            }

            .is-player-pick {
                background: rgba(255, 255, 255, 0.25);
                box-shadow: inset 0 0 2px 1px white;
            }

            .rank-group-1 {
                background: rgba(80, 150, 255, 1);
            }
            .rank-group-2 {
                background: rgba(100, 150, 255, 0.75);
            }
            .rank-group-3 {
                background: rgba(120, 150, 255, 0.5);
            }
            .rank-group-4 {
                background: rgba(140, 150, 255, 0.25);
            }
            .rank-group-5 {
                background: rgba(160, 150, 255, 0.1);
            }
        }
    }
}
