#p-basho {
    #leaderboard {
        background: #e8faff;
        padding: var(--section-padding);
    }
    
    #banzuke {
        background: #fff8e8;
        padding: var(--section-padding);

        table {
            border-collapse: collapse;
            line-height: 2;
            margin: 0 auto;

            .rank {
                text-align: center;
            }

            td {
                &.rikishi {
                    font-weight: bold;
                }

                label {
                    display: block;
                    padding: 0 5px;
                }
            }

            .select-radio {
                vertical-align: middle;
                margin-right: 5px;
                
                &[disabled] {
                    display: none;
                }
            }

            .is-player-pick {
                background: rgba(255, 255, 255, 0.5);
                //box-shadow: inset 0 0 2px 1px white;
            }

            .rank-group-1 {
                background: hsl(230, 80%, 75%);
                
                + .rank-group-2 {
                    border-top: solid 5px white;
                }
            }
            .rank-group-2 {
                background: hsl(200, 80%, 75%);

                + .rank-group-3 {
                    border-top: solid 5px white;
                }
            }
            .rank-group-3 {
                background: hsl(170, 70%, 65%);

                + .rank-group-4 {
                    border-top: solid 5px white;
                }
            }
            .rank-group-4 {
                background: hsl(140, 70%, 70%);

                + .rank-group-5 {
                    border-top: solid 5px white;
                }
            }
            .rank-group-5 {
                background: hsl(110, 60%, 70%);
            }
        }
    }
}
