@use 'media';

#p-index {
    margin-bottom: 0;

    section {
        background: none;
        border: none;
        margin: 0;
    }

    #next-basho {
        .button-link {
            width: 100%;
            height: auto;
            transition: transform ease-out 100ms;

            &:hover {
                transform: scale(1.04);
                transition: transform ease-out 200ms;
            }
        }
    }

    #prev-winners {
        h2 {
            position: absolute;
            z-index: 1;
            margin: 0;

            img {
                width: 100%;
                height: auto;
            }
        }

        .winners {
            position: relative;
            margin-left: min(210px, 23%);
            margin-top: min(160px, 15%);
            padding-right: min(100px, 10%);
            padding-bottom: 50px;
            font-size: 1.75rem;
            display: flex;
            flex-flow: row;
            align-items: baseline;
            justify-content: center;
            z-index: 2;

            @media (max-width: media.$medium-width) {
                font-size: 1.5rem;
            }

            @media (max-width: media.$narrow) {
                font-size: 1.25rem;
            }
        }
    }


    #leaderboard {
        padding-top: 34.18%; // percentage of bg image *width*
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 0;
        margin-bottom: 0;
        // compute height based on aspect ratio of bg image
        height: calc(min(100vw, var(--content-max-width)) * 1.229);

        > .background > img {
            position: absolute;
            z-index: -1;
            pointer-events: none;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &::before {
            content: " ";
            z-index: 1;
            pointer-events: none;
            position: absolute;
            width: 100%;
            left: 0;
            top: 26.99%;
            height: 38.43%;
            background-image: url(/static/img2/2021-Player-Rankings-mask.png);
            background-size: contain;
            background-repeat: no-repeat;
        }

        .scroll-container {
            width: 100%;
            height: 100%;
            overflow-y: scroll;
            padding: 2em 0;
        }

        table {
            border-collapse: collapse;

            td, th {
                padding: 0.125rem 0.25rem;
            }

            .num {
                text-align: right;
            }

            .rank {
                text-align: right;
                padding-right: 0.5rem;
            }

            .border-left {
                border-left: solid 1px var(--color-border);
            }

            .sort-key {
                font-weight: bold;
            }
        }
    }
}
