#p-index {
    section {
        background: none;
        border: none;
    }

    #next-basho {
        .button-link {
            font-size: 2rem;
            padding: 0.5rem;
            background: var(--color-navy);
            color: var(--color-light-fg);
            border: solid 1px var(--color-border);
        }
    }

    #prev-winners {
        h2 {
            position: absolute;
            z-index: 1;
        }

        h2 > img {
            width: 100%;
            height: auto;
        }

        .winners {
            position: relative;
            padding-right: 100px;
            padding-left: 210px;
            padding-top: 160px;
            padding-bottom: 50px;
            font-size: 1.75rem;
            display: flex;
            flex-flow: row;
            align-items: baseline;
            justify-content: center;
            z-index: 2;
        }
    }


    #leaderboard {
        background: var(--color-light-blue-bg);

        table {
            border-collapse: collapse;

            td, th {
                padding: 0.125rem 0.25rem;
            }

            .num {
                text-align: right;
            }

            .rank {
                text-align: right;
                padding-right: 0.5rem;
            }

            .border-left {
                border-left: solid 1px var(--color-border);
            }

            .sort-key {
                font-weight: bold;
            }
        }
    }
}
