@use 'media';

#p-player {
    section {
        border: solid 1px var(--color-border);
        padding: var(--section-padding);
        margin: 2rem 0;
        background: var(--color-bg);
    }

    #profile {
        &::after {
            content: '';
            clear: both;
            display: block;
        }

        > .img-wrapper {
            float: left;
            margin-right: 1rem;
            width: 8rem;
            height: 8rem;
            border-radius: 4rem;
            overflow: hidden;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                border-radius: 4rem;
                border: 1px solid rgba(0, 0, 0, 0.25);
            }

            img {
                position: absolute;
                width: 100%;
                height: 100%;
            }
        }

        > .name {
            font-size: 2rem;
            line-height: 3rem;
            margin-top: 2.5rem;
        }

        > .edit {
            position: absolute;
            top: 1rem;
            right: 1rem;
        }

        > form {
            display: none;

            input[name="name"] {
                font-size: 1.5rem;
                padding: 0.25rem;
            }

            .hint {
                color: var(--color-fg-sub);
            }

            .cancel {
                background: var(--color-bg-sub);
                color: var(--color-fg);
            }
            .buttons {
                display: flex;
                flex-flow: row wrap;
            }
        }
        &.editing {
            .hide-while-editing {
                display: none;
            }
            > form {
                display: block;
            }
        }
    }

    #history {
        .basho-list {
            width: 100%;
            border-collapse: separate;
            border-spacing: 0;

            td, th {
                padding: 0.25rem 0.125rem;
                border-bottom: 1px solid var(--color-border);
                text-align: left;
            }

            .first-of-year td {
                border-bottom: 3px solid var(--color-border);
            }

            .numeric {
                text-align: right;
            }

            .win-loss {
                white-space: nowrap;
            }

            @media (max-width: media.$narrow) {
                .pick {
                    display: none;
                }
            }
        }
    }
}
