#p-stats {
    section {
        background: var(--color-light-bg);
    }

    table {
        margin: 0 auto;
    }

    #prev-winners {
        table {
            border-spacing: 0.25em 1em;
        }
    }

    #players {
        table {
            border-collapse: collapse;

            td, th {
                padding: 0.125rem 0.25rem;
            }

            .num {
                text-align: right;
            }

            .rank {
                text-align: right;
                padding-right: 0.5rem;
            }

            .border-left {
                border-left: solid 1px var(--color-border);
            }

            .sort-key {
                font-weight: bold;
            }

            #self-leader td.player {
                background: var(--color-table-highlight-bg);
                box-shadow: var(--table-highlight-shadow);
            }
        }
    }
}
