#p-heya {
  > h2 {
    text-align: left;
  }

  section {
    background: var(--color-light-yellow-bg);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
  }

  form.expel {
    display: inline;
  }
}

#p-heya-list {

}
