[Unit]
Description=kachiclash-levelone webapp server
Documentation=https://levelone.kachiclash.com
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=kachiclash
Group=kachiclash
Environment=KACHI_ENV=prod
Environment=KACHI_DB_PATH=/storage/kachiclash.com/var/levelone.sqlite
Environment=KACHI_STATIC_PATH=/storage/kachiclash.com/public
Environment=KACHI_HERO=/static/levelone/2021-banner-levelone.png
Environment=KACHI_HOST=levelone.kachiclash.com
Environment=KACHI_PORT=8002
EnvironmentFile=/storage/kachiclash.com/prod_secrets-levelone
ExecStart=/storage/kachiclash.com/server
Restart=on-failure

[Install]
WantedBy=multi-user.target
