<!DOCTYPE html>
<html>
<head>
    <title>Kachi Clash · {% block subtitle %}main{% endblock %}</title>
    <link rel="icon" type="image/png" href="/static/img/favicon.png">
    <link rel="stylesheet" href="/static/css/base.css">
    {% block head %}{% endblock %}
</head>
<body>
    <header id="g-header">
        <div class="player-menu">
            {% match base.player %}
            {%- when Some with (player) -%}
                {% include "player_listing.html" %}
                |
                <a href="/settings">settings</a>
                |
                <a href="/logout">log out</a>

            {%- when None -%}
                <a href="/login">sign in</a>
            {%- endmatch %}
        </div>

        <a class="logo" href="/"><img src="/static/img/banner-logo.png" alt="Kachi Clash"></a>
    </header>

    <main id="{% block main_id %}{% endblock %}">
        {% block main %}{% endblock %}
    </main>

    <footer id="g-footer">
        <ul>
            <li>
                <a href="https://github.com/danieldickison/kachiclash" target="_blank">Source on Github</a>
            </li>
            <li>
                <a href="https://discordapp.com/invite/Wg4DsMt" target="_blank">Discord Channel</a>
            </li>
        </ul>
    </footer>
</body>
</html>
