<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kachi Clash · {% block subtitle %}main{% endblock %}</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#1c1c1c">
    <meta name="vapid-public-key" content="{{base.vapid_public_key}}">
    
    <link rel="icon" type="image/png" href="/static/img2/2021-Site-Icon-200x200.png">
    <link rel="manifest" href="/static/app.webmanifest">
    <link rel="stylesheet" href="/static/fonts/stylesheet.css">
    <link rel="stylesheet" href="/static/css/base.css">
    
    <script src="/static/js/base.js" type="module"></script>
    <script async defer data-domain="kachiclash.com" src="https://plausible.io/js/plausible.js"></script>
    <script defer src="https://donorbox.org/install-popup-button.js"></script>
    
    {# Show standard placeholder for broken player avatar images #}
    <script>
        window.addEventListener(
            'error',
            event => {
                if (event.target instanceof HTMLImageElement && event.target.classList.contains('js-player-img')) {
                    event.target.src = '/static/img/oicho-silhouette.png'
                }
            },
            true
        )
    </script>
    
    {% block head %}{% endblock %}
</head>
<body>
    <header id="g-header">
        <div class="player-menu">
            {% match base.player %}
            {%- when Some with (player) -%}
                {{player.render().unwrap()|safe}}
                <menu>
                    <li><a href="{{player.url_path()}}">profile</a></li>
                    <li><a href="/settings">settings</a></li>
                    <li><a href="/logout">log out</a></li>
                    <li><hr /></li>
                    <li><a href="/stats">stats</a></li>
                    <li><a href="https://discordapp.com/invite/Wg4DsMt" target="_blank">discord</a></li>
                    <li><a class="dbox-donation-button" href="https://donorbox.org/kachi-clash-website-donations" target="_blank">donate</a></li>
                </menu>

            {%- when None -%}
                <a href="https://discordapp.com/invite/Wg4DsMt" target="_blank">discord</a>
                |
                <a href="/login">sign in</a>
            {%- endmatch %}
        </div>

        <a class="logo" href="/">
            <picture>
                <source srcset="/static/img2/2021-Site-Icon-200x200-dark.png"
                        media="(max-width: 600px)">
                <img src="/static/img2/2021-Top-Banner-Logo.png" alt="Kachi Clash">
            </picture>
        </a>
        
        {% match base.player %}
        {%- when Some with (player) -%}
            <div id="push-promo">
                <p>You can now subscribe to push notifications in your settings.</p>
                <button>Dismiss</button>
            </div>
        {%- when None -%}
        {%- endmatch -%}
    </header>

    <main id="{% block main_id %}{% endblock %}">
        {% block main %}{% endblock %}
    </main>

    <footer id="g-footer">
        <ul>
            <li>
                <a href="https://discordapp.com/invite/Wg4DsMt" target="_blank">Discord Channel</a>
            </li>
            <li>
                <a href="https://plausible.io/kachiclash.com" target="_blank">Plausible Analytics</a>
            </li>
            <li>
                <a href="https://github.com/danieldickison/kachiclash" target="_blank">Source on Github</a>
            </li>
        </ul>
        <a class="dbox-donation-button" style="background: #41a2d8 url(https://donorbox.org/images/red_logo.png) no-repeat 37px;color: #fff;text-decoration: none;font-family: Verdana,sans-serif;display: inline-block;font-size: 16px;padding: 15px 38px;padding-left: 75px;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;box-shadow: 0 1px 0 0 #1f5a89;text-shadow: 0 1px rgba(0, 0, 0, 0.3);" href="https://donorbox.org/kachi-clash-website-donations">Donate</a>
    </footer>
</body>
</html>
