{% extends "base.html" %}

{% block main_id %}p-basho{% endblock %}

{% block subtitle %}{{basho.id}}{% endblock %}

{% block head %}
    <script src="/static/js/basho.js" defer></script>
    <link rel="stylesheet" href="/static/css/basho.css">
{% endblock %}

{% block main %}

    <h1>{{basho.id}} in {{basho.venue}}</h1>

    {% if base.is_admin() %}
        <section id="admin">
            <h2>Admin Controls</h2>
            <ul>
                <li><a href="{{basho.id.url_path()}}/edit">edit basho banzuke</a></li>
                {% if next_day <= 15 %}
                    <li><a href="{{basho.id.url_path()}}/day/{{next_day}}">enter day {{next_day}} results</a></li>
                {% else %}
                    <li><form method="post" action="{{basho.id.url_path()}}/finalize"><button>finalize basho</button></form></li>
                {% endif %}
            </ul>
        </section>
    {% endif %}

    <a id="g-hero" href="/"></a>
    {% include "rules.html" %}

    <section id="banzuke"
        class="
            {% if basho.has_started() %} has-started {% endif %}
            {% if initially_selectable %} selectable {% endif %}
        "
    >
        <h2>Banzuke</h2>

        {% if !basho.has_started() -%}
            {%- if base.player.is_some() -%}
                <p>Select one rikishi from each group below, then click the Save Picks button. You can change your picks until the basho starts.</p>
            {%- else -%}
                <p><a href="/login">Log in or sign up</a> to play!</p>
            {%- endif -%}

            <p>
                Time remaining:
                <span class="js-basho-count-down" data-start-date="{{basho.start_date.timestamp_millis()}}"></span>
            </p>
        {%- endif %}
        
        <form id="banzuke-select-rikishi-form" action="{{basho.id.url_path()}}/picks">

            {% if !basho.has_started() && base.player.is_some() -%}
                <button class="g-big-button save-picks-button">Save Picks</button>
                <button class="g-big-button change-picks-button">Change Picks</button>
            {%- endif -%}

            <table>
                <thead>
                    <th class="rikishi">East</th>
                    <th class="pick-count">Picks</th>
                    {% if basho.has_started() %}
                        <th class="hoshi" colspan="15"></th>
                        <th class="win-loss"></th>
                    {% endif %}
                    <th class="rank">Rank</th>
                    <th class="rikishi">West</th>
                    <th class="pick-count">Picks</th>
                    {% if basho.has_started() %}
                        <th class="hoshi" colspan="15"></th>
                        <th class="win-loss"></th>
                    {% endif %}
                </thead>
                <tbody>
                    {% for rr in rikishi_by_rank -%}
                        <tr class="rank-group-{{rr.rank_group}}">
                            {%- call rikishi_results(rr.east) -%}
                            <td class="rank">{{rr.rank}}</td>
                            {%- call rikishi_results(rr.west) -%}
                        </tr>
                    {% endfor -%}
                </tbody>
            </table>

            {% if !basho.has_started() && base.player.is_some() -%}
                <button class="g-big-button save-picks-button">Save Picks</button>
                <button class="g-big-button change-picks-button">Change Picks</button>
            {%- endif -%}
        </form>
    </section>

    <section id="leaderboard"
        class="{% if basho.has_started() %} has-started {% endif %}"
    >
        <h2>
            {% if basho.has_started() %}
                Leaderboard
            {% else %}
                {{basho.player_count}} Entries
            {% endif %}
        </h2>
        <table>
            <thead>
                {% if basho.has_started() %}
                    <tr>
                        <th colspan="7"></th>
                        <th class="day-heading" colspan="15">Day</th>
                    </tr>
                {% endif %}
                <tr>
                    {% if basho.has_started() %}
                        <th class="rank">#</th>
                    {% endif %}
                    <th>Player</th>
                    <th class="pick" colspan="5">Picks</th>
                    {% if basho.has_started() %}
                        {% for day in 1..16 -%}
                            <th class="day">{{day}}</th>
                        {% endfor -%}
                        <th>Total</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for leader in leaders -%}
                <tr class="
                    {% if leader.is_self %} self {% endif %}
                    {% match leader.player -%}
                    {%- when ResultPlayer::Max -%} min-max
                    {%- when ResultPlayer::Min -%} min-max
                    {%- when _ -%}
                    {%- endmatch %}
                    "
                >
                    {% match leader.player -%}
                    {%- when ResultPlayer::Max %}
                        <td class="min-max-name" colspan="2">Best Possible</td>
                    {%- when ResultPlayer::Min %}
                        <td class="min-max-name" colspan="2">Worst Possible</td>

                    {%- when ResultPlayer::RankedPlayer with (player, rank) %}
                        {%- if basho.has_started() -%} 
                            <td class="rank">{{rank}}</td>
                         {%- endif -%}
                        <td class="name">{{player.render().unwrap()|safe}}</td>
                    {%- endmatch -%}

                    {% for rikishi in leader.picks() -%}
                        {%- match rikishi -%}
                        {%- when Some with (r) -%}
                            <td class="
                                pick
                                {% if r.is_kyujyo %}kyujyo{% endif -%}
                            ">{{r.name}}</td>
                        {%- when None -%}
                            <td class="pick"></td>
                        {%- endmatch -%}
                    {%- endfor %}

                    {% if basho.has_started() %}
                        {% for wins in leader.days -%}
                            <td class="score day">
                            {%- match wins -%}
                            {%- when Some with (num) %}{{num}}
                            {%- when None %}-
                            {%- endmatch -%}
                            </td>
                        {% endfor -%}

                        <td class="score total">{{leader.total}}</td>
                    {% endif %}
                </tr>
            {%- endfor %}
            </tbody>
        </table>
        {% if basho.has_started() && basho.player_count > leaders.len() - 2 %}
            <p>Showing top {{leaders.len() - 2}} players out of {{basho.player_count}} total.</p>
        {% endif %}
    </section>
{% endblock %}

{%- macro rikishi_results(rikishi) -%}
    {%- match rikishi -%}
    {%- when Some with (rikishi) -%}
        <td class="
                rikishi
                {%- if rikishi.is_player_pick %} is-player-pick {% endif -%}
                {%- if rikishi.is_kyujyo %} is-kyujyo {% endif -%}
            "
            data-rikishi-id="{{rikishi.id}}"
        >
            <label>
                <input type="radio" class="select-radio"
                    name="rank-group-{{rikishi.rank.group()}}"
                    value="{{rikishi.id}}"
                   required
                    {% if rikishi.is_player_pick -%} checked {%- endif %}
                    {% if !initially_selectable || rikishi.is_kyujyo -%} disabled {%- endif %}
                >
                {{- rikishi.name }}
                <a class="info-link" target="_blank" href="http://sumodb.sumogames.de/Rikishi.aspx?shikona={{rikishi.name}}&b={{basho.id.id()}}"></a>
            </label>
        </td>
        <td class="pick-count">
            {{rikishi.picks}}
        </td>
        {% if basho.has_started() %}
            {%- for day in rikishi.results -%}
                <td class="hoshi">
                    {%- match day -%}
                        {%- when Some with (true) -%}   ⚪️
                        {%- when Some with (false) -%}  ⚫️
                        {%- when None -%}               –
                    {%- endmatch -%}
                </td>
            {%- endfor -%}
            <td class="win-loss">{{rikishi.wins}}-{{rikishi.losses}}</td>
        {% endif %}
    {%- when None -%}
        <td class="rikishi"></td>
        <td class="pick-count"></td>
        {% if basho.has_started() %}
            {% for _ in 1..=15 %}<td class="hoshi"></td>{% endfor %}
            <td class="win-loss"></td>
        {% endif %}
    {%- endmatch -%}
{%- endmacro -%}
