{% extends "base.html" %}

{% block main_id %}p-basho{% endblock %}

{% block subtitle %}{{basho}}{% endblock %}

{% block head %}
    <script src="/static/basho.js" defer></script>
    <style>
        #p-basho #leaderboard {
            background: #e8faff;
        }
        #p-basho #banzuke {
            background: #fff8e8;
        }
    </style>
{% endblock %}

{% block main %}
    <section id="leaderboard">
        <h2>Leaderboard</h2>
        <table>
            <thead>
                <th>Player</th>
                {% for day in 1..16 -%}
                    <th>{{day}}</th>
                {% endfor -%}
                <th>Total</th>
            </thead>
            <tbody>
            {% for player in leaders -%}
                <tr>
                    <td>{{player.name}}</td>
                    {%- for wins in player.days -%}
                        <td>
                        {%- match wins -%}
                            {%- when Some with (num) %}{{num}}
                            {%- when None %}-
                        {%- endmatch -%}
                        </td>
                    {% endfor -%}
                    <td>{{player.total}}</td>
                </tr>
            {%- endfor %}
            </tbody>
        </table>
    </section>

    <section id="banzuke">
        <h2>Banzuke</h2>
        <table>
            <thead>
                <th colspan="2">East</th>
                <th>Rank</th>
                <th colspan="2">West</th>
            </thead>
            <tbody>
                {% for rr in rikishi_by_rank -%}
                    <tr>
                        {%- call rikishi_results(rr.east) -%}
                        <td>{{rr.rank}}</td>
                        {%- call rikishi_results(rr.west) -%}
                    </tr>
                {% endfor -%}
            </tbody>
        </table>
    </section>
{% endblock %}

{%- macro rikishi_results(rikishi) -%}
    {%- match rikishi -%}
    {%- when Some with (rikishi) -%}
        <td>{{rikishi.name}}</td>
        <td>
        {%- for day in rikishi.results -%}
            {%- match day -%}
                {%- when Some with (true) -%}⚪️
                {%- when Some with (false) -%}⚫️
                {%- when None -%}—
            {%- endmatch -%}
        {%- endfor -%}
        </td>
    {%- when None -%}
        <td></td>
        <td></td>
    {%- endmatch -%}
{%- endmacro -%}
