{% extends "base.html" %}

{% block main_id %}p-basho{% endblock %}

{% block subtitle %}{{basho.id}}{% endblock %}

{% block head %}
    <script src="/static/js/basho.js" defer></script>
    <script src="/static/js/count_down.js" defer></script>
    <link rel="stylesheet" href="/static/css/basho.css">
{% endblock %}

{% block main %}

    <h2>{{basho.id}} — {{basho.venue}}</h2>

    {% if base.is_admin() %}
        <section id="admin">
            <h2>Admin Controls</h2>
            <ul>
                <li><a href="{{basho.id.url_path()}}/edit">edit basho</a></li>
                <li><a href="{{basho.id.url_path()}}/day/{{next_day}}">enter day {{next_day}} results</a></li>
            </ul>
        </section>
    {% endif %}

    <a id="g-hero" href="/"></a>
    {% include "rules.html" %}

    <section id="banzuke"
        class="
            {% if basho.has_started() %} has-started {% endif %}
            {% if initially_selectable %} selectable {% endif %}
        "
    >
        <h2>Banzuke</h2>

        {% if !basho.has_started() -%}
            {%- if base.player.is_some() -%}
                <p>Select one rikishi from each group below, then click the Save Picks button. You can change your picks until the basho starts.</p>
            {%- else -%}
                <p><a href="/login">Log in or sign up</a> to play!</p>
            {%- endif -%}

            <p id="basho-count-down" data-start-date="{{basho.start_date.timestamp_millis()}}">
                Time remaining: <span id="basho-count-down-time"></span>
            </p>

            {%- if base.player.is_some() -%}
                <button class="save-picks-button">Save Picks</button>
                <button class="change-picks-button">Change Picks</button>
            {%- endif -%}
        {%- endif %}
        
        <form id="banzuke-select-rikishi-form" action="{{basho.id.url_path()}}/picks">
            <table>
                <thead>
                    <th colspan="2">East</th>
                    <th class="rank">Rank</th>
                    <th colspan="2">West</th>
                </thead>
                <tbody>
                    {% for rr in rikishi_by_rank -%}
                        <tr class="rank-group-{{rr.rank_group}}">
                            {%- call rikishi_results(rr.east) -%}
                            <td class="rank">{{rr.rank}}</td>
                            {%- call rikishi_results(rr.west) -%}
                        </tr>
                    {% endfor -%}
                </tbody>
            </table>
        </form>

        {% if !basho.has_started() && base.player.is_some() -%}
            <button class="save-picks-button">Save Picks</button>
            <button class="change-picks-button">Change Picks</button>
        {% endif %}
    </section>

    <section id="leaderboard">
        <h2>Leaderboard</h2>
        <table>
            <thead>
                <tr>
                    <th colspan="6"></th>
                    <th colspan="15">Day</th>
                </tr>
                <tr>
                    <th>Player</th>
                    <th colspan="5">Picks</th>
                    {% for day in 1..16 -%}
                        <th>{{day}}</th>
                    {% endfor -%}
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
            {% for leader in leaders -%}
                {# TODO: we want to do `let player = &leader.player' but not sure askama provides a way to create a reference like that. Any way to avoid cloning here for passing player into the player_listing.html template? #}
                {% let player = leader.player.clone() %}
                <tr>
                    <td class="name">{% include "player_listing.html" %}</td>
                    {% for rikishi in leader.picks %}
                        <td class="pick">
                        {%- match rikishi -%}
                        {%- when Some with (r) %}{{r.name}}
                        {%- when None -%}
                        {%- endmatch -%}
                        </td>

                    {% endfor %}
                    {% for wins in leader.days -%}
                        <td class="score">
                        {%- match wins -%}
                        {%- when Some with (num) %}{{num}}
                        {%- when None %}-
                        {%- endmatch -%}
                        </td>
                    {% endfor -%}
                    <td class="score">{{leader.total}}</td>
                    {% if base.is_admin() %}
                        <td>
                            <button class="bestow-emperors-cup-button" data-player-id="{{player.id}}">
                                🏆
                            </button>
                            <button class="revoke-emperors-cup-button" data-player-id="{{player.id}}">
                                <s>🏆</s>
                            </button>
                        </td>
                    {% endif %}
                </tr>
            {%- endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}

{%- macro rikishi_results(rikishi) -%}
    {%- match rikishi -%}
    {%- when Some with (rikishi) -%}
        <td class="rikishi {% if rikishi.is_player_pick -%} is-player-pick {%- endif %}"
            data-rikishi-id="{{rikishi.id}}"
        >
            <label>
                <input type="radio" class="select-radio"
                    name="rank-group-{{rikishi.rank.group()}}"
                    value="{{rikishi.id}}"
                    {% if rikishi.is_player_pick -%} checked {%- endif %}
                    {% if basho.has_started() -%} disabled {%- endif %}
                >
                {{- rikishi.name -}}
            </label>
        </td>
        <td class="hoshi {% if rikishi.is_player_pick && basho.has_started() -%} is-player-pick {%- endif %}">
            {% if basho.has_started() %}
                {%- for day in rikishi.results -%}
                    {%- match day -%}
                        {%- when Some with (true) -%}⚪️
                        {%- when Some with (false) -%}⚫️
                        {%- when None -%}—
                    {%- endmatch -%}
                {%- endfor -%}
            {% endif %}
        </td>
    {%- when None -%}
        <td></td>
        <td></td>
    {%- endmatch -%}
{%- endmacro -%}
