{% extends "base.html" %}

{% block main_id %}p-heya{% endblock %}

{% block subtitle %}
  {{heya.name}}
{% endblock %}

{% block head %}
  <script src="/static/js/heya.js" type="module"></script>
  {% if base.is_admin() || is_oyakata %}
    <script src="/static/js/heya-admin.js" type="module"></script>
  {% endif %}
  <link rel="stylesheet" href="/static/css/heya.css" />
{% endblock %}

{% block main %}
  <h1>{{heya.name}}</h1>

  <section>
    {% if is_oyakata %}
      <form method="POST">
        <input type="text" name="set_name" value="{{heya.name}}">
        <button>Change Name</button>
      </form>
    {% endif %}
    <dl>
      <dt>Oyakata</dt>
      <dd>{{heya.oyakata.render().unwrap()|safe}}</dd>
      <dt>Inaugurated</dt>
      <dd>{{heya.create_date.format("%Y-%m-%d")}}</dd>
    </dl>
  </section>

  <section>
    <h2>Members</h2>
    <ol class="members">
      {% for member in heya.members.as_ref().unwrap() %}
        <li>
          {{member.player.render().unwrap()|safe}}
          {% if is_oyakata && !member.is_oyakata %}
            <form class="expel" method="POST">
              <input type="hidden" name="delete_player_id" value="{{member.player.id}}">
              <button>Expel</button>
            </form>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </section>

  <section>
    <form method="POST">
      <label>player id: <input type="text" name="add_player_id"></label>
      <button>Recruit</button>
    </form>
  </section>
{% endblock %}
