{% extends "base.html" %}

{% block main_id %}p-index{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block main %}
    <h1 id="g-hero">
        <picture>
            <source media="(prefers-color-scheme: light)" srcset="/static/img2/2021-Kachi-Clash-Banner-2.webp" type="image/webp">
            <source media="(prefers-color-scheme: dark)" srcset="/static/img2/2021-Kachi-Clash-Banner-3-Dark.webp" type="image/webp">
            <img src="{{hero_img_src}}" width="1877" height="799" alt="Kachi Clash — a Grand Sumo prediction game">
        </picture>
    </h1>

    {% match current_basho %}
    {% when Some with (basho) %}
        <section id="next-basho">
            <a href="{{basho.link_url()}}">
                <img class="button-link"
                    alt="Enter current tournament"
                    src="/static/img2/2021-Current-Tournament.png"
                    width="1801" height="388">
            </a>
            {% if !basho.has_started() %}
                <p class="g-time-remaining">
                    Time remaining to enter/change your picks:
                    <span class="js-basho-count-down" data-start-date="{{basho.start_date.timestamp_millis()}}"></span>
                </p>
            {% endif %}
        </section>
    {% when None %}
        {% if base.is_admin() %}
            <p>Admin: <a href="{{next_basho_id.url_path()}}/edit">enter banzuke for {{next_basho_id}}</a></p>
        {% endif %}
    {% endmatch %}

    {% match prev_basho %}
    {% when Some with (basho) %}
        <section id="prev-winners">
            <h2>
                <a href="{{basho.link_url()}}">
                    <picture>
                        <source media="(prefers-color-scheme: dark)" srcset="/static/img2/2021-Basho-Champion-Dark.png">
                        <img src="/static/img2/2021-Basho-Champion.png"
                            width="1801" height="448"
                            alt="Congratulations to the previous basho champion">
                    </picture>
                </a>
            </h2>
            <span class="winners">
                {% for player in basho.winners -%}
                    {{player.render().unwrap()|safe}}
                {% endfor %}
            </span>
        </section>
    {% when None %}
    {% endmatch %}

    <section id="leaderboard">
        <div class="scroll-container">
            {% if base.player.is_some() %}
            <p class="current-rank">
                You are currently ranked
                {% match self.self_leader() %}
                {% when Some with (leader) %}
                    <a href="#leaderboard-rank-{{leader.rank}}">
                        {{"{:#}"|format(leader.rank)}}
                    </a>
                {% when None %}
                    below Juryo
                {% endmatch %}
            </p>
            {% endif %}

            <p>
                Rankings are based on total wins over the past 6 basho (one year).
                <a class="all-stats" href="/stats">All player stats</a>
            </p>

            <div class="grid">
            {% for (rank, ord, wins, players) in self.leaders_by_rank() %}
                <div id="leaderboard-rank-{{rank}}"
                    class="group side-{{rank.side}} rank-name-{{rank.name|lower}}"
                >
                    <h3>
                        {{"{:#}"|format(rank)}}
                        <div class="sub">#{{ord}} ({{wins}} wins)</div>
                    </h3>
                    <ol class="players">
                    {% for player in players %}
                        <li {% if self.is_self(player) %}class="self"{% endif %}>
                            {{player.player.render().unwrap()|safe}}
                        </li>
                    {% endfor %}
                    </ol>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
