{% extends "base.html" %}

{% block main_id %}p-index{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/js/count_down.js" defer></script>
{% endblock %}

{% block main %}
    <a id="g-hero" href="/"></a>

    {% match basho_list.first() %}
    {% when Some with (basho) %}
        {% if basho.has_started() %}
            <section id="next-basho">
                <h2>The Current Basho is {{basho.id}}</h2>
                <a class="button-link" href="{{basho.link_url()}}">View Results</a>

                {% if base.is_admin() %}
                    <p>Admin: <a href="{{next_basho_id.url_path()}}/edit">enter banzuke for {{next_basho_id}}</a></p>
                {% endif %}
            </section>
        {% else %}
            {% include "rules.html" %}
            <section id="next-basho">
                <h2>The Next Basho is {{basho.id}}</h2>
                <p id="basho-count-down" data-start-date="{{basho.start_date.timestamp_millis()}}">
                    Time remaining: <span id="basho-count-down-time"></span>
                </p>
                <a class="button-link" href="{{basho.link_url()}}">Click here to enter {{basho.id}}!</a>
            </section>
        {% endif %}
    {% when None %}
    {% endmatch %}

    <section id="prev-winners">
        <h2>Previous Emperor's Cup Winners</h2>
        <table class="basho-list">
            <thead>
                <th>Basho</th>
                <th>Players</th>
                <th>Winner</th>
            </thead>
            <tbody>
                {% for basho in basho_list -%}
                    {% if !basho.winners.is_empty() %}
                        <tr>
                            <td><a href="{{basho.link_url()}}">{{basho.id}}</a></td>
                            <td>{{basho.player_count}}</td>
                            <td>
                                {% for player in basho.winners -%}
                                    {% include "player_listing.html" %}
                                    {%- if loop.first && !loop.last %}, {% endif %}
                                {%- endfor %}
                            </td>
                        </tr>
                        {% endif %}
                {%- endfor %}
            </tbody>
        </table>
    </section>

    <h2 class="leaderboard-heading">Leaderboard</h2>
    <ol class="leaderboard">
    {% for player in leaders %}
        <li class="leaderboard__item">
            {% include "player_listing.html" %}
            joined {{player.join_date.format("%Y-%m-%d")}}
        </li>
    {% endfor %}
    </ol>
{% endblock %}
