{% extends "base.html" %}

{% block main_id %}p-index{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block main %}
    <div id="g-hero"></div>

    <h2>Previous Emperor's Cup Winners</h2>
    <table class="basho-list">
        <thead>
            <th>Basho</th>
            <th>Venue</th>
            <th>Players</th>
            <th>Winner</th>
        </thead>
        <tbody>
            {% for basho in basho_list -%}
                <tr>
                    <td><a href="{{basho.id.url_path()}}">{{basho.id}}</a></td>
                    <td>{{basho.venue}}</td>
                    <td>{{basho.player_count}}</td>
                    <td>
                        {%- match basho.winner -%}
                        {%- when Some with (winner) %}{{winner.name}} 🏆
                        {%- when None -%}
                        {%- endmatch -%}
                    </td>
                </tr>
            {%- endfor %}
        </tbody>
    </table>

    <h2 class="leaderboard-heading">Leaderboard</h2>
    <ol class="leaderboard">
    {% for player in leaders %}
        <li class="leaderboard__item">
            <img src="{{player.tiny_thumb()}}">
            {{player.name}}
            joined {{player.join_date}}
        </li>
    {% endfor %}
    </ol>
{% endblock %}
