<dialog id="notification-settings">
  <h2>Notifications</h2>
  <form method="dialog">
    <button class="close-dialog">ⓧ</button>
    <fieldset name="buttons" disabled>
      <button name="toggle" class="g-small-button">notifications…</button>
      <button name="test" class="g-small-button">send test</button>
    </fieldset>
    <fieldset name="types" disabled>
      <caption>Enable notifications for:</caption>
      <input type="hidden" name="Test" value="1" />
      <ul>
        <label><input type="checkbox" value="EntriesOpen" checked="" /> Basho entries open</label>
        <label><input type="checkbox" value="BashoStartCountdown" checked="" /> Reminders before basho starts</label>
        <label><input type="checkbox" value="DayResult" checked="" /> Daily bout results</label>
        <label><input type="checkbox" value="BashoResult" checked="" /> Final basho results</label>
      </ul>
    </fieldset>
  </form>
</dialog>
