{% extends "base.html" %}

{% block main_id %}p-player{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/player.css">
{% endblock %}

{% block main %}

    <section id="profile">
        <span class="img-wrapper"><img class="js-player-img" src="{{player.medium_thumb()}}"></span>
        <div class="name">
            {{player.name}}
            {% if player.has_emperors_cup() -%}
                {{crate::data::award::Award::EmperorsCup.emoji()}}
            {%- endif %}
        </div>
        <div class="join-date">
            Joined: {{player.join_date.format("%Y-%m-%d")}} via {{player.login_service_name()}}
        </div>
    </section>

    <section id="history">
        <table class="basho-list">
            <thead>
                <tr>
                    <th>Basho</th>
                    <th colspan="5">Rikishi</th>
                    <th>Score</th>
                    <th>Rank</th>
                </tr>
            </thead>
            <tbody>
                {% for basho in basho_scores -%}
                <tr>
                    <td><a href="{{basho.basho_id.url_path()}}">{{basho.basho_id}}</a></td>

                    {% for rikishi in basho.rikishi %}
                    <td>
                        {% match rikishi %}
                        {% when Some with (_) %} some rikishi
                        {% when None %}
                        {% endmatch %}
                    </td>
                    {% endfor %}

                    <td>{{basho.wins}}</td>
                    <td>
                        {{basho.rank}}
                        {% if basho.rank == 1 %}{{crate::data::award::Award::EmperorsCup.emoji()}}{% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

{% endblock %}
