{% extends "base.html" %}

{% block main_id %}p-player{% endblock %}

{% block subtitle %}{{player.name}}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/player.css">
    <script src="/static/js/player.js" type="module"></script>
{% endblock %}

{% block main %}

    <section id="profile">
        <span class="img-wrapper"><img alt="avatar" class="js-player-img" src="{{player.medium_thumb()}}"></span>

        {% if self.is_self() %}
            <div class="buttons hide-while-editing">
                <button class="g-small-button edit">✏️ edit</button>
                <button class="g-small-button toggle-push" disabled>notifications…</button>
            </div>
            <form method="POST" action="/settings">
                <label>
                    Display Name:
                    <input name="name" type="text"
                        required
                        minlength="{{player::NAME_LENGTH.start()}}"
                        maxlength="{{player::NAME_LENGTH.end()}}"
                        pattern="{{player::NAME_REGEX}}"
                        value="{{base.player.as_ref().unwrap().name}}"
                    >
                    <span class="hint">(letters and numbers only)</span>
                </label>
                <div class="buttons">
                    <button class="g-big-button cancel" type="button">Cancel</button>
                    <button class="g-big-button">Save</button>
                </div>
            </form>
        {% endif %}

        <div class="name hide-while-editing">
            {{player.name}}
            {% if player.has_emperors_cup() -%}
                {{crate::data::award::Award::EmperorsCup.emoji()}}
            {%- endif %}
        </div>
        <div class="join-date hide-while-editing">
            Joined: {{player.join_date.format("%Y-%m-%d")}} via {{player.login_service_name()}}
        </div>
    </section>

    <section id="history">
        <table class="basho-list">
            <thead>
                <tr>
                    <th>Basho</th>
                    <th colspan="5" class="pick">Picks</th>
                    <th class="numeric">Score</th>
                    <th class="numeric">Rank</th>
                    <th><!-- awards --></th>
                </tr>
            </thead>
            <tbody>
                {% for basho in basho_scores -%}
                <tr {% if basho.basho_id.month == 1 %} class="first-of-year" {% endif %}>
                    <td><a href="{{basho.basho_id.url_path()}}">{{basho.basho_id}}</a></td>

                    {% for rikishi in basho.rikishi %}
                    <td class="pick">
                        {% match rikishi %}
                        {% when Some with (r) %} {{r.name}} <span class="win-loss">({{r.wins}}-{{r.losses}})</span>
                        {% when None %}
                        {% endmatch %}
                    </td>
                    {% endfor %}

                    <td class="numeric">
                        {%- match basho.wins -%}
                        {%- when Some with (wins) -%} {{wins}}
                        {%- when None -%}
                        {%- endmatch -%}
                    </td>
                    <td class="numeric">
                        {%- match basho.rank -%}
                        {%- when Some with (rank) -%} #{{rank}}
                        {%- when None -%}
                        {%- endmatch -%}
                    </td>
                    <td>
                        {% for award in basho.awards %}{{award.emoji()}}{% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

{% endblock %}
