{% extends "base.html" %}

{% block main_id %}p-player{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/player.css">
{% endblock %}

{% block main %}

    <section id="profile">
        <span class="img-wrapper"><img class="js-player-img" src="{{player.medium_thumb()}}"></span>
        <div class="name">
            {{player.name}}
            {% if player.has_emperors_cup() -%}
                {{crate::data::award::Award::EmperorsCup.emoji()}}
            {%- endif %}
        </div>
        <div class="join-date">
            Joined: {{player.join_date.format("%Y-%m-%d")}} via {{player.login_service_name()}}
        </div>
    </section>

    <section id="history">
        <table class="basho-list">
            <thead>
                <tr>
                    <th>Basho</th>
                    <th colspan="5" class="pick">Picks</th>
                    <th class="numeric">Score</th>
                    <th class="numeric">Rank</th>
                    <th><!-- awards --></th>
                </tr>
            </thead>
            <tbody>
                {% for basho in basho_scores -%}
                <tr>
                    <td><a href="{{basho.basho_id.url_path()}}">{{basho.basho_id}}</a></td>

                    {% for rikishi in basho.rikishi %}
                    <td class="pick">
                        {% match rikishi %}
                        {% when Some with (r) %} {{r.name}} <span class="win-loss">({{r.wins}}-{{r.losses}})</span>
                        {% when None %}
                        {% endmatch %}
                    </td>
                    {% endfor %}

                    <td class="numeric">
                        {%- match basho.wins -%}
                        {%- when Some with (wins) -%} {{wins}}
                        {%- when None -%}
                        {%- endmatch -%}
                    </td>
                    <td class="numeric">
                        {%- match basho.rank -%}
                        {%- when Some with (rank) -%} #{{rank}}
                        {%- when None -%}
                        {%- endmatch -%}
                    </td>
                    <td>
                        {% for award in basho.awards %}{{award.emoji()}}{% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

{% endblock %}
