{% extends "base.html" %}

{% block main_id %}p-settings{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/settings.css">
{% endblock %}

{% block main %}
    <div id="messages">
        {% match message %}
        {% when Some with (msg) %}
            <div class="message">{{msg}}</div>
        {% when None %}
        {% endmatch %}
        {% match error %}
        {% when Some with (err) %}
            <div class="error">{{err}}</div>
        {% when None %}
        {% endmatch %}
    </div>

    <section id="profile">
        <h2>Profile</h2>
        <form method="POST">
            <label>
                Display Name:
                <input name="name" type="text"
                    required
                    minlength="{{player::NAME_LENGTH.start()}}"
                    maxlength="{{player::NAME_LENGTH.end()}}"
                    pattern="{{player::NAME_REGEX}}"
                    value="{{base.player.as_ref().unwrap().name}}"
                >
                <span class="hint">(letters and numbers only)</span>
            </label>
            <button class="g-big-button">Save</button>
        </form>
    </section>
{% endblock %}
