export RUST_BACKTRACE=1
export RUST_LOG=info,kachiclash=trace
export KACHI_HOST=localhost
export KACHI_PORT=8000
export SESSION_SECRET=sessionsecret-12345678901234567890123456789012345678901234567890
export WEBHOOK_SECRET=0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef
export DISCORD_CLIENT_ID=
export DISCORD_CLIENT_SECRET=
export REDDIT_CLIENT_ID=
export REDDIT_CLIENT_SECRET=
export GOOGLE_CLIENT_ID=
export GOOGLE_CLIENT_SECRET=

# Generate VAPID keys as with `npx web-push generate-vapid-keys`
# These must be base64url format (unpadded and with url-safe chars)
export VAPID_PUBLIC_KEY=
export VAPID_PRIVATE_KEY=

cargo run --verbose --bin server
