[Unit]
Description=kachiclash webapp beta server
Documentation=https://kachiclash.com
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=kachiclash
Group=nogroup
Environment=KACHI_ENV=prod
Environment=KACHI_DB_PATH=/home/kachiclash/var/kachiclash.sqlite
Environment=KACHI_STATIC_PATH=/home/kachiclash/public-beta
Environment=KACHI_HERO=/static/img2/2021-Kachi-Clash-Banner-2.png
Environment=KACHI_PORT=8004
Environment=RUST_BACKTRACE=1
Environment=SUMO_API_DRY_RUN=1
EnvironmentFile=/home/kachiclash/prod_secrets
ExecStart=/home/kachiclash/server-beta
Restart=always

[Install]
WantedBy=multi-user.target
