[Unit]
Description=kachiclash webapp beta server
Documentation=https://kachiclash.com
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=kachiclash
Group=kachiclash
Environment=KACHI_ENV=prod
Environment=KACHI_DB_PATH=/storage/kachiclash.com/var/kachiclash.sqlite
Environment=KACHI_STATIC_PATH=/storage/kachiclash.com/public-beta
Environment=KACHI_HERO=/static/img2/2021-Kachi-Clash-Banner-2.png
Environment=KACHI_PORT=8004
Environment=RUST_BACKTRACE=1
EnvironmentFile=/storage/kachiclash.com/prod_secrets
ExecStart=/storage/kachiclash.com/server-beta
Restart=always

[Install]
WantedBy=multi-user.target
