[Unit]
Description=kachiclash-levelone webapp server
Documentation=https://levelone.kachiclash.com
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=kachiclash
Group=nogroup
Environment=KACHI_ENV=prod
Environment=KACHI_DB_PATH=/home/kachiclash/var/levelone.sqlite
Environment=KACHI_STATIC_PATH=/home/kachiclash/public
Environment=KACHI_HERO=/static/levelone/2021-banner-levelone.png
Environment=KACHI_HOST=levelone.kachiclash.com
Environment=KACHI_PORT=8002
Environment=RUST_BACKTRACE=1
EnvironmentFile=/home/kachiclash/prod_secrets-levelone
ExecStart=/home/kachiclash/server
Restart=always

[Install]
WantedBy=multi-user.target
